
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
}
.header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px; 
    width: 1920px;
height: 1322px;

}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
nav > ul{
    display: flex;  
}

.nav-title{
    color: #131313;
font-family: Work Sans;
font-size: 45px;
font-weight: 700;
}
nav li{
    list-style: none;
    margin-right: 30px;  
}

nav li a{
    text-decoration: none;
    color: #131313;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-weight: 500;
}
.banner-content{
    width: 862px;
    color : #131313;
text-align: center;
font-family: Work Sans;
margin: 0 auto;

}
.banner-title{
font-family: Work Sans;
font-size: 64px;
font-weight: 700;
}
.banner-description{
    color:  #727272;
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-weight: 400;
}
.button-primary{
    width: 180px;
height: 64px;
text-align: center;
margin: 30px 870px 50px 870px;
border-radius: 8px;
background: #FF900E;

color: #FFF;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
}
.banner-image{
    width: 1440px;
height: 700px;
border-radius: 8px;
margin: 0px 240px 45px 240px;
}
 